body{
    margin: 10px;
}
a{
  text-decoration: none;
}
.btn:active{
    transform: scale(0.9);
}
.btn-link:hover {
  background-color: #c9e4ff; 
}

.optionsList{
    list-style: none;
}
.question{
    list-style: decimal;
    margin: 10px;
}
.mcqs{
    list-style: lower-alpha;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
select,
::picker(select) {
  appearance: base-select;
}
select {
  border: 2px solid #dddddd;
  background: #eeeeee;
  padding: 10px;
  transition: 0.4s;
  width: 80%;
}

select:hover,
select:focus {
  background: #dddddd;
}
select::picker-icon {
  color: #999999;
  transition: 0.4s rotate;
}
select:open::picker-icon {
  rotate: 180deg;
}
::picker(select) {
  border: none;
}
option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;

  border: 2px solid #dddddd;
  background: #eeeeee;
  padding: 10px;
  transition: 0.4s;
}
option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

::picker(select) {
  border-radius: 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}
option:nth-of-type(odd) {
  background: white;
}

option:hover,
option:focus {
  background: plum;
}
.flashes{
  position: fixed;
  top: 10px;  
}
.flashes li{
  list-style: none;
  border-radius: 8px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30vw;
  margin: auto;
  border-radius: 10px;
  backdrop-filter: blur(20px); 
  -webkit-backdrop-filter: blur(20px);
}
/* .success{
  color: #155724;
}
.error{
  color: #721c24;
}
.info{
  color: #0c5460;
}
.warning{
  color: #856404;
}
.danger{

  color: red;
} */

.success {
  color: #0f5132;
  background-color: #d1e7dd;
  border: 1px solid #badbcc;
}

.error, .danger {
  color: #842029;
  background-color: #f8d7da;
  border: 1px solid #f5c2c7;
}

.info {
  color: #055160;
  background-color: #cff4fc;
  border: 1px solid #b6effb;
}

.warning {
  color: #664d03;
  background-color: #fff3cd;
  border: 1px solid #ffecb5;
}
