{% extends 'poyambira.html' %}
{% block header %}
    <h1 class="h2">Edit Questions</h1>
{% endblock %}

{% block content %}
    <div>
        <a href="/addMcqQuestions">Add MCQs</a>
        <br>
        <a href="/addQuestions">Add Descriptive Questions</a>
        <br>
    </div>
    <br>
    <div>
    <form class="p-2">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
    </form>
    <br>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Bank Name</th>
            <th scope="col">Bank Type</th>
            <th scope="col">Course ID</th>
            </tr>
        </thead>
        <tbody>
            {% for questionBank in QuestionBanks %}
            <tr>
            <td>{{ questionBank.questionBankName }}</td>
            <td>{{questionBank.questionBankType}}</td>
            <td> {{questionBank.courseID}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}