{% extends 'poyambira.html' %}
    <h3>Add Questions</h3>
    <form action="/submitQuestion" method="POST" class="quesForm">
        <label for="questionBank">questionBank:</label>
        <select id="questionBank" name="questionBank" required>
            <option value="">Select questionBank</option>
            {% for questionBank in QuestionBanks %}
                <option value="{{ questionBank.questionBankID }}">{{ questionBank.questionBankName }} {{questionBank.courseID}} {{questionBank.questionBankType}}</option>
            {% endfor %}
        </select>
        <br><br>

        <label for="questionText">Enter question:</label><br>
        <textarea cols="40" rows="4" id="questionText" name="questionText" type="text" placeholder="Enter your question here" required></textarea>
        <br><br>

        <ul class="optionsList" id="option">
            <li>Option 1: <input name="option" type="text" required></li><br>
            <li>Option 2: <input name="option" type="text" required></li><br>
            <li>Option 3: <input name="option" type="text" required></li><br>
            <li>Option 4: <input name="option" type="text" required></li><br>
        </ul>
        <br>
        <label for="difficulty">Difficulty level A (easy), B, C:</label><br>
        <input name="difficulty" id="difficulty" type="text" pattern="[a-cA-C]+" required title="Only A-C allowed" placeholder="Enter difficulty">
        <br><br>
        <label for="unit">Enter Unit:</label><br>
        <input name="unit" id="unit" type="text" pattern="[0-9]+" required title="Only numbers" placeholder="Enter unit">
        <br><br>
        <label for="marks">Allotted marks:</label><br>
        <input name="marks" id="marks" type="text" pattern="[0-9]+" required title="Only numbers allowed" placeholder="Enter marks">
        <br><br>
        <button class="btn btn-primary" type="submit">Add Question</button>
        <br>
    </form>
