<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Generated Paper</title>
</head>
<body>
    <div class="paper">
        <div class="header">
            <img src="/assets/founder.png" title="Vivekanand College Founder">
            <img src="/assets/logo.png" title="Vivekanand College Logo">
            <h3>Vivekanand College, Kolhapur</h3>
        </div>
        <p>Affiliated to Shivaji University</p>
        <p>Examination of {{paperDetails[0]}} {{paperDetails[1]}} in Semester {{paperDetails[2]}}</p>
        <p>{{paperDetails[3]}}</p>
        <p>Total Marks {{paperDetails[5]}}</p>
        <!-- <div class="body">
            {% if paperDetails[0] == 100 %}
                {% include "BSc.html" %}
            {% endif %}
        </div> -->
        <div class="body">
            <p style="text-align: center;">Answer all questions</p>
            {% set i=0 %}
            {% for mcq in mcqQuestions %}
                <li class="question">{{mcq["questionBody"]}}</li> 
                <ol class="mcqs">
                    <li>{{mcq["option1"]}}</li>
                    <li>{{mcq["option2"]}}</li>
                    <li>{{mcq["option3"]}}</li>
                    <li>{{mcq["option4"]}}</li>
                </ol>
            {% endfor %}
            <br>
            {% if paperDetails[4] == "EXT" %}
                <p style="text-align: center;">Choose 2 questions(16 marks)</p>
                {% for laq in laqQuestions %}
                    <li class="question">{{laq}}</li>
                {% endfor %}
            {% endif %}
            <br>
            {% if paperDetails[4] == "INT" %}
                <p style="text-align: center;">Choose any 2 questions (8 marks)</p>
            {% elif paperDetails[4] == "EXT" %}
                <p style="text-align: center;">Choose any 4 questions (16 marks)</p>
            {% endif %}
            {% for saq in saqQuestions %}
                <li class="question">{{saq}}</li>
            {% endfor %}
            <br>
            
        </div>
    </div>
    <button onclick="printPage()">Print Paper</button>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/script.js"></script>
</html>